<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IDBrowserServiceCode.basicHttpBinding" closeTimeout="00:25:00"
          openTimeout="05:25:00" receiveTimeout="00:25:00" sendTimeout="00:25:00"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="IDBrowserServiceCode.webHttpBinding" closeTimeout="00:25:00"
          openTimeout="05:25:00" receiveTimeout="00:25:00" sendTimeout="00:25:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
          transferMode="Streamed">
          <security mode="None">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.17.2.23/IDBrowserService/Service.svc/soap" binding="basicHttpBinding"
        bindingConfiguration="IDBrowserServiceCode.basicHttpBinding"
        contract="IDBrowserService.ISoapService" name="BasicHttpBinding_ISoapService" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateBehavior">
          <clientCredentials>
            <clientCertificate findValue="IDBrowserClient" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>