<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  
  <connectionStrings>
    <add name="IDImagerEntities"
      connectionString="data source=localhost;initial catalog=photosupreme;persist security info=True;user id=idimager_main;password=idi_main_2606;MultipleActiveResultSets=True;App=EntityFramework"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="IDImagerThumbsEntities"
      connectionString="data source=localhost;initial catalog=photosupreme_thumbs;persist security info=True;user id=idimager_main;password=idi_main_2606;MultipleActiveResultSets=True;App=EntityFramework"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>