<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="CreateThumbnails" value="true" />
    <add key="MThumbmailWidth" value="1680" />
    <add key="MThumbnailHeight" value="1260" />
    <add key="ImageFileExtensions" value="JPG,JPEG,TIF,PNG,GIF,BMP" />
    <add key="VideoFileExtensions" value="3GP,AVI,MOV,MP4,MPG,MPE,MPEG,MTS,M2TS,WMV,SWF,FLV" />
    <add key="KeepAspectRatio" value="True" />
    <add key="SetGenericVideoThumbnailOnError" value="True" />
  </appSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="IDBrowserService.ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="MCCKeyFigures." />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <appender name="IDBrowserService.FileAppender" type="log4net.Appender.FileAppender">
      <file value="Log\IDBrowserService.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="IDBrowserService.ConsoleAppender" />
      <appender-ref ref="IDBrowserService.FileAppender" />
    </root>
    <logger name="IDBrowserService">
      <level value="DEBUG" />
    </logger>
  </log4net>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="2000000" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="All" propagateActivity="true">
        <listeners>
          <!--<add name="xml"/>-->
        </listeners>
      </source>
      <source name="System.Net">
        <listeners>
          <!--<add name="System.Net"/>-->
        </listeners>
      </source>
      <source name="System.Net.Sockets">
        <listeners>
          <!--<add name="System.Net"/>-->
        </listeners>
      </source>
      <source name="System.Net.Cache">
        <listeners>
          <!--<add name="System.Net"/>-->
        </listeners>
      </source>
      <source name="System.Net.HttpListener">
        <listeners>
          <!--<add name="System.Net"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Verbose"/>
      <add name="System.Net.Sockets" value="Verbose"/>
      <add name="System.Net.Cache" value="Verbose"/>
      <add name="System.Net.HttpListener" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Log\System.ServiceModel.svclog"/>
      <add name="System.Net" type="System.Diagnostics.TextWriterTraceListener" initializeData="Log\Network.log" />
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="IDBrowserServiceCode.webHttpBinding" maxReceivedMessageSize="2147483647" transferMode="StreamedResponse"
                 maxBufferSize="2147483647" openTimeout="05:25:00" closeTimeout="00:25:00" sendTimeout="00:25:00" receiveTimeout="0:25:00">
          <security mode="None">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="IDBrowserServiceCode.basicHttpBinding" maxReceivedMessageSize="2147483647" transferMode="StreamedResponse"
                 maxBufferSize="2147483647" openTimeout="05:25:00" closeTimeout="00:25:00" sendTimeout="00:25:00" receiveTimeout="0:25:00">
          <security mode="None">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="IDBrowserServiceCode.Service" behaviorConfiguration="IDBrowserServiceCode.ServiceBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="IDBrowserServiceCode.webHttpBinding"
                  contract="IDBrowserServiceCode.IRestService" behaviorConfiguration="webHttp" />
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="IDBrowserServiceCode.basicHttpBinding"
                  contract="IDBrowserServiceCode.ISoapService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/IDBrowserService/Service.svc" />
            
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="IDBrowserServiceCode.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="50" maxConcurrentInstances="50" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="ChainTrust" />
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <add name="IDImagerEntities" connectionString="metadata=res://*/IDImagerDB.csdl|res://*/IDImagerDB.ssdl|res://*/IDImagerDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MASSRV02;initial catalog=photosupreme;integrated security=True;multipleactiveresultsets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
    <add name="IDImagerThumbsEntities" connectionString="metadata=res://*/IDImagerDB.csdl|res://*/IDImagerDB.ssdl|res://*/IDImagerDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MASSRV02;initial catalog=photosupreme_thumbs;User id=idimager_main;Password=idi_main_2606;multipleactiveresultsets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>