<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MThumbmailWidth" value="1680" />
    <add key="MThumbnailHeight" value="1260" />
    <add key="ImageFileExtensions" value="JPG,JPEG,TIF,PNG,GIF,BMP" />
    <add key="VideoFileExtensions" value="3GP,AVI,MOV,MP4,MPG,MPE,MPEG,MTS,M2TS,WMV,SWF,FLV" />
    <add key="KeepAspectRatio" value="True" />
    <add key="SetGenericVideoThumbnailOnError" value="True" />
  </appSettings>
  <connectionStrings>
    <add name="IDImagerEntities" connectionString="metadata=res://*/IDImagerDB.csdl|res://*/IDImagerDB.ssdl|res://*/IDImagerDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MASSRV02;initial catalog=photosupreme;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IDImagerThumbsEntities" connectionString="metadata=res://*/IDImagerDB.csdl|res://*/IDImagerDB.ssdl|res://*/IDImagerDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MASSRV02;initial catalog=photosupreme_thumbs;User id=idimager_main;Password=idi_main_2606;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>