<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="IDBrowserServiceCore.ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline" />
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <loggerToMatch value="IDBrowserServiceCore." />
    </filter>
    <filter type="log4net.Filter.DenyAllFilter" />
  </appender>
  <appender name="IDBrowserServiceCore.FileAppender" type="log4net.Appender.FileAppender">
    <file value="Log\IDBrowserServiceCore.log" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="IDBrowserServiceCore.ConsoleAppender" />
    <appender-ref ref="IDBrowserServiceCore.FileAppender" />
  </root>
  <logger name="IDBrowserServiceCore">
    <level value="DEBUG" />
  </logger>
</log4net>