<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <DesktopBuildPackageLocation>..\Build\IIS\IDBrowserService\IDBrowserService.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/IDBrowserService</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IDImagerThumbsEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=MASSRV02;Initial Catalog=photosupreme_thumbs;User ID=idimager_main;Password=idi_main_2606;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IDImagerThumbsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Data.IDImagerDB.csdl|res://*/Data.IDImagerDB.ssdl|res://*/Data.IDImagerDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MASSRV02;initial catalog=photosupreme_thumbs;User id=idimager_main;Password=idi_main_2606;multipleactiveresultsets=True;App=EntityFramework;&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="IDImagerEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=(local);Initial Catalog=idimager;User ID=idimager_main;Password=idi_main_2606;Application Name=EntityFramework" Name="Data Source=(local);Initial Catalog=idimager;User id=idimager_main;Password=idi_main_2606;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IDBrowserServiceCode.Data.IDImagerEntities, IDBrowserServiceCode" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IDImagerEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Data.IDImagerDB.csdl|res://*/Data.IDImagerDB.ssdl|res://*/Data.IDImagerDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=(local);Initial Catalog=idimager;User id=idimager_main;Password=idi_main_2606;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IDImagerThumbsEntities-Web.config Connection String" />
  </ItemGroup>
</Project>